 .maincontainer {
     display: flex;
     justify-content: center;
        margin-top: 50px; 

 }

 .boxes {
     width: 500px;
     display: flex;
     flex-direction: column;
     padding: 40px 30px;
     border-radius: 20px;
     margin-top: auto;
     background-color: #bb6f92;
     


 }

 .forgot {
     display: block;
     margin-top: 15px;
     font-size: 14px;
     text-align: center;
     color: #ccc;
     cursor: pointer;
     font-size: 14px;
 }

 .title {
     align-items: center;
     padding: 12px;
     margin-left: 400px;
     color: #ccc;
 }

 .head {
     display: flex;
     justify-content: center;
     margin-left: 5px;
     color: #c0c1c4;
 }

 .inp {
     width: 300px;
     height: 45px;
     padding-left: 25px;
     border: 2px solid;
     border-bottom: 1px solid;
     outline: none;
     border-radius: 15px;
     margin-left: 10px;
     margin-top: 10px;
 }

 .inp1 {
     display: flex;
     justify-content: center;
     margin-top: 10px;
     margin-left: 50px;
     flex-direction: column;
 }

 .inp2 {
     height: 50px;
     width: 140px;
     margin-left: 30px;
     border-radius: 15px;
     background-color: #141e30;
     color: #fff;
     font-size: 15px;

 }

 .inp:hover {
     background-color: #ccc;
 }



 .input {
     display: flex;
     justify-content: center;
     margin-top: 50px;
     margin-right: 40px;

 }